In [1]:
data = """ID 1 Na 2 SK 3

ID 2 Na 4 SK 3

ID 3 Na 6 SK 6"""

In [6]:
values = "".join(data.split("\n"))
values.split(" ")

['ID',
 '1',
 'Na',
 '2',
 'SK',
 '3ID',
 '2',
 'Na',
 '4',
 'SK',
 '3ID',
 '3',
 'Na',
 '6',
 'SK',
 '6']